:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);
  --font-body: "Open Sans", sans-serif;
  --font-heading: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  background-color: var(--violet);
  color: var(--white);
}

h1,
a {
  font-family: var(--font-heading);
}

img {
  width: 100%;
}

.background-img {
  background-image: url(./images/bg-mobile.svg);
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 55vh;
  position: absolute;
  z-index: -999;
}

.img-logo {
  width: 8em;
  padding-bottom: 3rem;
}

.wrapper {
  padding: 2.15rem;
  max-width: 1384px;
  margin: 0 auto;
}

.hero {
  padding-bottom: 6rem;
}

.hero-img {
  max-width: 709px;
  max-height: 506px;
  padding-bottom: 2rem;
}

.hero-text {
  text-align: center;
}

.main-heading {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 1rem;
}

.main-paragraph {
  padding-bottom: 2.5rem;
  line-height: 1.5rem;
}

.btn-register {
  font-size: 0.85rem;
  text-decoration: none;
  color: var(--violet);
  background-color: var(--white);
  padding: 0.75rem 5rem;
  border-radius: 10rem;
  box-shadow: 1px 5px 15px hsla(0, 0%, 0%, 0.233);
}

.btn-register:hover {
  background-color: var(--soft-magenta);
}

i:hover {
  color: var(--soft-magenta);
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.fa-brands {
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgb(247, 247, 248);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width>=1080px) {
  .background-img {
    background-image: url(./images/bg-desktop.svg);
    height: 100vh;
  }

  .wrapper {
    padding: 3rem;
  }

  .img-logo {
    padding-bottom: 3rem;
  }

  .hero {
    display: flex;
    padding-bottom: 0;
    gap: 3rem;
  }

  .hero-img {
    padding-bottom: 0;
  }
  .hero-text {
    text-align: left;
    padding-top: 3rem;
    max-width: 462px;
  }

  .main-heading {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .social-icons {
    display: flex;
    justify-content: end;
  }
}
